<div x-data="
  {
  openTab: <%= object.content_sections.first&.id %>,
  activeClasses: 'bg-spina-dark',
  inactiveClasses: ''
  }
  " class='flex flex-col w-full mb-5'>
  <%= f.label :contents, class: 'text-sm font-medium mb-2' %>

  <div class='flex flex-row w-full mb-5'>
    <div class='flex flex-col mr-5'>
      <ul class='flex flex-col' data-controller='sortable' data-sortable-handle-value='.handle'>
        <% object.content_sections.each_with_index do |content, index| %>
          <li>
            <a href='javascript:void(0)' @click='openTab = <%= content.id %>' :class='openTab === <%= content.id %> ? activeClasses : inactiveClasses' class='hover:text-gray-900 rounded-md px-3 truncate text-sm font-medium flex items-center w-full h-9 bg-opacity-10 text-gray-900'>
              <i class='fa-solid fa-grip-lines handle mr-2'></i>
              <%= content.header %>
            </a>
          </li>
        <% end %>
      </ul>
      <button type='button' class='text-gray-400 pl-2 hover:text-gray-900 rounded-md truncate text-sm font-medium flex items-center h-10' data-action='nested-form#add'>
        <i class='fa-solid fa-plus mr-2'></i>
        New entry
      </button>
    </div>
    MAKE IT FIXED INSTEAD OF A SEPARATE DIV, THEN PLACE INSIDE THE LI TAG
  </div>
</div>
