<div x-data="
  {
  openTab: '<%= object.content_sections.first&.id %>',
  activeClasses: 'bg-spina-dark',
  inactiveClasses: ''
  }
  " class='flex flex-col w-full mb-5'>
  <%= f.label :contents, class: 'text-sm font-medium mb-2' %>

  <div class='flex flex-col w-full mb-5'>
    <div class='flex flex-col relative' data-controller='sortable' data-sortable-handle-value='.handle'>
      <template data-nested-form-target="template">
        <%= f.fields_for :content_sections, ContentSection.new, child_index: 'NEW_RECORD' do |content_section_fields| %>
          <%= render partial: '/v2/admin/content_sections/nested_form', locals: { f: content_section_fields } %>
        <% end %>
      </template>

      <%= f.fields_for :content_sections do |content_section_fields| %>
        <%= render partial: '/v2/admin/content_sections/nested_form', locals: { f: content_section_fields } %>
      <% end %>

      <div data-nested-form-target="target"></div>
    </div>
    <button type='button' class='text-gray-400 pl-2 hover:text-gray-900 rounded-md truncate text-sm font-medium flex items-center h-10' data-action='nested-form#add'>
      <i class='fa-solid fa-plus mr-2'></i>
      New entry
    </button>
  </div>
</div>
