<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="flex flex-col max-w-xs mx-auto items-center">
    <div class="py-8">
      <%= image_tag 'logo_icon.svg', width: 75 %>
    </div>

    <% if flash[:alert] %>
      <div class="bg-red-400 p-2 px-4 rounded-full font-medium text-white mb-5">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= f.email_field :email, value: params[:email], placeholder: 'Email', class: 'form-input w-full' %>

    <%= f.password_field :password, placeholder: 'Password', class: 'form-input mt-3 w-full' %>

    <%= button_tag type: :submit, class: 'btn btn-primary h-10 mt-3 w-full' do %>
      Login
      <i class='fa-solid fa-right-to-bracket ml-2'></i>
    <% end %>
  </div>
<% end %>
