<div class="border-b border-gray-200 flex items-center justify-between space-x-8 px-4 py-3">
  <%= link_to spina.admin_mail_path(inquiry), class: "flex items-center" do %>
    <%= image_tag main_app.url_for(Spina::Page.find(inquiry.artwork_id).content(:image).variant({ resize_to_fit: [40, 40] })) %>
    <div style='margin-left: 0.5rem;'>
      <div class='font-medium'> <%= "#{inquiry.first_name} #{inquiry.last_name}" %></div>
      <div class="text-gray-500 text-sm"><%= inquiry.email %></div>
    </div>
  <% end %>

  <div class="flex-1"></div>

  <div class='flex flex-row'>
    <%= link_to spina.admin_mail_path(inquiry), class: "btn btn-default px-3", style: "margin-right: 0.5rem;" do %>
      <%= heroicon('eye', style: :solid, class: 'w-4 h-4') %>
    <% end %>
    <%= button_to spina.admin_mail_path(inquiry), class: "btn btn-default px-3", method: :delete do %>
      <%= heroicon('trash', style: :solid, class: 'text-red-500 w-4 h-4') %>
    <% end %>
  </div>
</div>
