<%= render Spina::UserInterface::HeaderComponent.new do |header| %>
  <% header.with_actions do %>
    <%= button_tag type: :submit, form: dom_id(@mail), class: 'btn btn-primary', data: {controller: "button hotkeys", hotkeys: "command+s, ctrl+s", hotkeys_target: "button", action: "button#loading", loading_message: t('spina.ui.saving')} do %>
      <%= heroicon('check', style: :mini, class: 'w-5 h-5 -ml-1 mr-1') %>
      <%= t('spina.button.save') %>
    <% end %>
  <% end %>
<% end %>

<div class="p-8">
  <%= form_with model: [spina, :admin, @mail], id: dom_id(@mail) do |f| %>

    <div class="mt-5">
      <%= render Spina::Forms::LabelComponent.new(f, :email) %>
      <%= render Spina::Forms::TextFieldComponent.new(f, :email) %>
    </div>

  <% end %>
  <% if @mail.persisted? %>
    <div class="border-t border-gray-200 my-6"></div>

    <div class="grid grid-cols-3 gap-x-6 mt-3">
      <div class="col-span-1"></div>
      <div class="col-span-2 flex justify-end">
        <%= button_to spina.admin_mailinglist_path(@mail), method: :delete, class: 'btn btn-default', form: {data: {controller: "confirm", confirm_message: t('spina.users.delete_confirmation_html', user: @mail.email)}} do %>
          <%= heroicon('trash', class: 'w-4 h-4 mr-1 -ml-1') %>
          <%= t('spina.mailinglists.delete') %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
