<div class='mt-6'>
  <label class='block text-sm leading-5 font-medium text-gray-700'><%= f.object.title %></label>
  <div class='mt-1'>
    <%= f.select :event_ids, nil, { multiple: true }, data: { controller: 'slimselect', slimselect_close_on_select_value: false }, style: 'min-height: 49.33px;' do %>
      <option value=''></option>
      <% Spina::Resource.find_by(name: 'events').pages&.each do |event| %>
        <option value='<%= event.id %>' <%= 'selected' if f.object.event_ids.include?(event.id) %>><%= event %></option>
      <% end %>
    <% end %>
  </div>
</div>
