<%= form_for(artist, url:, method:, html: { id: 'artists-form', class: 'flex flex-col w-full',
  data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } }) do |f| %>
  <div class='flex flex-row w-full mb-5'>
    <div class='flex flex-col w-full mr-5'>
      <div class='flex flex-col w-full mb-5'>
        <%= f.label :full_name, class: 'text-sm font-medium mb-2' %>
        <%= f.text_field :full_name, class: 'form-input font-medium', required: true %>
        <%= error_field(:full_name, artist.errors) %>
      </div>
      <div class='flex flex-col w-full mb-5'>
        <%= f.label :name, class: 'text-sm font-medium mb-2' %>
        <%= f.text_field :name, class: 'form-input font-medium', required: true %>
        <%= error_field(:subtitle, artist.errors) %>
      </div>
      <div class='flex flex-col w-full mb-5'>
        <%= f.label :role, class: 'text-sm font-medium mb-2' %>
        <%= f.text_field :role, class: 'form-input font-medium', required: true %>
        <%= error_field(:role, artist.errors) %>
      </div>
      <div class='flex flex-col w-full'>
        <%= f.label :status, class: 'text-sm font-medium mb-2' %>
        <%= f.select :status, options_for_select(statuses_collection, f.object.status), { include_blank: false, multiple: false }, {
          data: { controller: 'slimselect', slimselect_close_on_select_value: true }, class: 'w-full mr-5',
          autocomplete: 'off', style: 'min-height: 49.33px;' } %>
        <%= error_field(:status, artist.errors) %>
      </div>
    </div>
    <div class='flex flex-row w-full'>
      <div class='flex flex-col mr-5'>
        <%= f.label :banner, class: 'text-sm font-medium mb-2' %>
        <%= render partial: '/v2/admin/images/image_picker', locals: {
          id: 'artist-banner-picker', object: artist.banner,
          form_name: 'artist[banner_id]' } %>
      </div>
      <div class='flex flex-col'>
        <%= f.label :portrait, class: 'text-sm font-medium mb-2' %>
        <%= render partial: '/v2/admin/images/image_picker', locals: {
          id: 'artist-portrait-picker', object: artist.portrait,
          form_name: 'artist[portrait_id]' } %>
      </div>
    </div>
  </div>

  <div class='flex flex-col w-full mb-5'>
    <%= f.label :description, class: 'text-sm font-medium mb-2' %>
    <%= f.text_area :description, class: 'form-input font-medium', required: true %>
    <%= error_field(:description, artist.errors) %>
  </div>

  <div class='flex flex-col w-full mb-5'>
    <%= f.label :artworks, class: 'text-sm font-medium mb-2' %>
    <%= f.select :artwork_ids, options_for_select(artworks, f.object.artwork_ids), { include_blank: true, multiple: true }, {
      data: { controller: 'slimselect', slimselect_close_on_select_value: false }, class: 'w-full mr-5',
      autocomplete: 'off', style: 'min-height: 49.33px;' } %>
  </div>

  <%= render partial: 'v2/admin/content_sections/form', locals: { f: f, object: artist, form_id: '' } %>

<% end %>
