<div class="fixed top-0 left-0 z-40 flex h-screen w-full max-w-[300px] flex-col justify-between overflow-y-auto bg-neoma-blue-4 duration-200 xl:translate-x-0 -translate-x-full" :class="sidebarOpen ? '-translate-x-full' : 'translate-x-0'">
  <div>
    <div class="flex justify-center p-10 pb-9">
      <%= link_to v2_admin_root_path, class: 'block' do %>
        <%= image_tag 'logo_icon.svg', width: 75 %>
      <% end %>
    </div>
    <div class="mb-[30px]">
      <nav class="px-[25px]">
        <ul>
          <li>
            <p class='mb-[30px] px-[15px] text-sm font-semibold uppercase text-white'>
              <i class='fa-solid fa-file-lines mr-[10px] text-xl'></i>
              Content
            </p>
          </li>
          <% v2_admin_content_nav_items.each do |title, path| %>
            <li>
              <%= link_to title.to_s.titleize, path,
                class: "flex w-full items-center rounded py-[10px] px-[15px] text-base font-medium text-white #{controller_name == title.to_s ? '': 'text-opacity-50'} hover:bg-white hover:bg-opacity-10 hover:text-opacity-100" %>
            </li>
          <% end %>
          <li>
            <p class='mb-3 mt-5 px-[15px] text-sm font-semibold uppercase text-white'>
              <i class='fa-solid fa-envelope mr-[10px] text-xl'></i>
              Inbox
            </p>
          </li>
          <% v2_admin_inbox_nav_items.each do |title, path| %>
            <li>
              <%= link_to title.to_s.titleize, path,
                class: "flex w-full items-center rounded py-[10px] px-[15px] text-base font-medium text-white #{controller_name == title.to_s ? '': 'text-opacity-50'} hover:bg-white hover:bg-opacity-10 hover:text-opacity-100" %>
            </li>
          <% end %>
          <li>
            <p class='mb-3 mt-5 px-[15px] text-sm font-semibold uppercase text-white'>
              <i class='fa-solid fa-users-gear mr-[10px] text-xl'></i>
              Manage
            </p>
          </li>
          <% v2_admin_manage_nav_items.each do |title, path| %>
            <li>
              <%= link_to title.to_s.titleize, path,
                class: "flex w-full items-center rounded py-[10px] px-[15px] text-base font-medium text-white #{controller_name == title.to_s ? '': 'text-opacity-50'} hover:bg-white hover:bg-opacity-10 hover:text-opacity-100" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <div class='border-t border-[#E7E7E733] p-[30px] pb-10'>
    <div class='flex items-center'>
      <div class='mr-4 h-12 w-full max-w-[48px] overflow-hidden rounded-full bg-white bg-opacity-10'>
      </div>
      <div>
        <p class='text-base font-medium text-white text-opacity-80'>
          User
        </p>
        <p class='text-sm text-white text-opacity-50'>
          user@email.com
        </p>
      </div>
    </div>
  </div>
</div>
