<div class='w-full flex items-center justify-between mt-10 reveal' data-scroll-reveal-target='item' data-delay='250ms'>
  <h2 class='font-restora font-bold flex-1'> <%= t('title.artworks') %> </h2>
  <%= link_to t('buttons.view_all'), v2_artworks_path, class: 'text-xs font-medium hover:text-[#f7b1af] transition-all duration-500' %>
</div>

<hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>

<div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full mt-5'>
  <div class='relative flex flex-col'>
    <%= fe_featured_item_link(v2_artwork_path(main_artwork, class_name: 'homepage'), opts: { class: 'sticky top-5 md:top-1/4', data: { turbo: true, turbo_stream: true } }) do %>
      <%= fe_featured_item_content_wrapper() do %>
        <%= fe_featured_item_image_wrapper do %>
          <%= fe_featured_item_image_v2(main_artwork.image) %>
        <% end %>
        <%= fe_featured_item_title(main_artwork.title) %>
        <%= fe_featured_item_subtitle(main_artwork.artist.name) %>
        <%= fe_featured_item_text(format_price(main_artwork.price)) %>
      <% end %>
    <% end %>
  </div>
  <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full'>
    <% if sub_artworks.any? %>
      <% sub_artworks.in_groups_of((sub_artworks.length / 2.0).ceil) do |group| %>
        <div class='flex flex-col w-full'>
          <% group.compact.each do |artwork| %>
            <%= fe_featured_item_link(v2_artwork_path(artwork, class_name: 'homepage'), opts: { class: 'mb-5', data: { turbo: true, turbo_stream: true } }) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <%= fe_featured_item_image_wrapper do %>
                  <%= fe_featured_item_image_v2(artwork.image) %>
                <% end %>
                <%= fe_featured_item_title(artwork.title) %>
                <%= fe_featured_item_subtitle(artwork.artist.name) %>
                <%= fe_featured_item_text(format_price(artwork.price)) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
