<div class='w-full flex items-center justify-between mt-10 reveal' data-scroll-reveal-target='item' data-delay='250ms'>
  <h2 class='font-restora font-bold flex-1'> <%= t('title.artists') %> </h2>
  <%= link_to t('buttons.view_all'), v2_artists_path, class: 'text-xs font-medium hover:text-[#f7b1af] transition-all duration-500' %>
</div>

<hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>

<div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full mt-5'>
  <div class='relative flex flex-col'>
    <%= fe_featured_item_link(v2_artist_path(main_artist)) do %>
      <%= fe_featured_item_content_wrapper() do %>
        <%= fe_featured_item_image_wrapper do %>
          <%= fe_featured_item_image_v2(main_artist.banner) %>
        <% end %>
        <%= fe_featured_item_title(main_artist.name) %>
        <%= fe_featured_item_subtitle(main_artist.description) if main_artist.description %>
      <% end %>
    <% end %>
  </div>
  <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full'>
    <% if sub_artists.any? %>
      <% sub_artists.in_groups_of((sub_artists.length / 2.0).ceil) do |group| %>
        <div class='flex flex-col w-full'>
          <% group.compact.each do |artist| %>
            <%= fe_featured_item_link(v2_artist_path(artist), opts: { class: 'mb-5' }) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <%= fe_featured_item_image_wrapper do %>
                  <%= fe_featured_item_image(artist.portrait) %>
                <% end %>
                <%= fe_featured_item_title(artist.name) %>
                <%= fe_featured_item_subtitle(artist.description) if artist.description %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
