<!-- Artworks start here -->
<section class='w-full bg-white z-20'>
  <section class='container w-full py-5 md:py-10 mx-auto mt-28 px-5 bg-white min-h-screen' data-controller='scroll-reveal'>
    <h1 class='font-restora font-bold text-black text-4xl md:text-7xl lg:text-9xl mb-5 md:mb-10 uppercase reveal' data-scroll-reveal-target='item'> <%= t('title.artworks') %> </h2>

    <%= turbo_frame_tag 'artworks' do %>
      <hr class='w-full my-5'>

      <div class='w-full hidden sm:flex items-center justify-end mb-5 reveal' data-scroll-reveal-target='item' data-delay='250ms'>
        <%= fe_sort_dropdown(v2_artworks_path, params[:sort_by], Artwork::SORTING_PARAMS, model: 'artwork') %>
      </div>

      <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 w-full'>
        <% @artworks.each do |artwork| %>
          <%= fe_featured_item_link(v2_artwork_path(artwork, sort_by: params[:sort_by]), opts: { class: 'flex flex-col', data: { turbo: true, turbo_stream: true } }) do %>
            <%= fe_featured_item_content_wrapper() do %>
              <%= fe_featured_item_image_wrapper do %>
                <%= fe_featured_item_image_v2(artwork.image, opts: { class: 'reveal object-cover w-[500px] h-[500px]' }) %>
              <% end %>
              <%= fe_featured_item_title(artwork.title) %>
              <%= fe_featured_item_subtitle(artwork.artist.name) if artwork.artist %>
              <%= fe_featured_item_text(format_price(artwork.price)) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
</section>
