<section class='w-full'>
  <!-- Banner -->
  <%= fe_banner do %>
    <%= fe_banner_img(content(:banner).spina_image) %>
    <%= fe_banner_inner do %>
      <% if content(:start_date) && content(:end_date) %>
        <%= fe_banner_preheader("#{content(:start_date)} - #{content(:end_date)}") %>
      <% elsif content(:start_date) %>
        <%= fe_banner_preheader(content(:start_date)) %>
      <% end %>
      <%= fe_banner_header(content(:header)) if content(:header) %>
      <%= fe_banner_subheader(content(:subheader)) if content(:subheader) %>
    <% end %>
  <% end %>

  <!-- Padding -->
  <section class='w-full min-h-screen'>
  </section>

  <!-- Content -->
  <section class='relative w-full bg-white pb-10 z-20'>
    <% repeater(:section) do |block| %>
      <% if block.content(:carousel).present? %>
        <%= fe_carousel do %>
          <%= fe_carousel_wrapper do %>
            <% block.content(:carousel).each do |img| %>
              <%= fe_carousel_item do %>
                <%= fe_banner do %>
                  <%= fe_banner_img(img.spina_image, opts: { opacity: '0.8' }) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if block.content(:body) %>
        <div class='container w-full py-5 md:py-10 mx-auto px-5 my-5' data-controller='scroll-reveal'>
          <h2 class='font-restora font-bold reveal' data-scroll-reveal-target='item' data-delay='250ms'><%= block.content(:header) %></h2>
          <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
          <div class='markdown font-montserrat reveal' data-scroll-reveal-target='item' data-delay='750ms'>
            <%= block.content.html(:body)%>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</section>
