<%= render partial: 'neoma/shared/scroll_nav', locals: { menu_items: [['#selected_works', t('title.selected_works')]] } %>

<section class='w-full'>
  <!-- Banner -->
  <%= fe_banner do %>
    <%= fe_banner_img(content(:banner).spina_image) %>

    <%= fe_banner_inner do %>
      <% if content(:start_date) && content(:end_date) %>
        <%= fe_banner_preheader("#{content(:start_date)} - #{content(:end_date)}") %>
      <% elsif content(:start_date) %>
        <%= fe_banner_preheader(content(:start_date)) %>
      <% end %>
      <%= fe_banner_header(content(:header)) if content(:header) %>
      <%= fe_banner_subheader(content(:subheader)) if content(:subheader) %>
    <% end %>
  <% end %>

  <!-- Padding -->
  <section class='w-full min-h-screen'>
  </section>

  <!-- Content -->
  <section class='relative w-full bg-white pb-10 z-20'>
    <% repeater(:section) do |block| %>
      <% if block.content(:carousel).present? %>
        <%= fe_carousel do %>
          <%= fe_carousel_wrapper do %>
            <% block.content(:carousel).each do |img| %>
              <%= fe_carousel_item do %>
                <%= fe_banner do %>
                  <%= fe_banner_img(img.spina_image, { opacity: '0.8' }) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if block.content(:body) %>
        <div class='container w-full py-5 md:py-10 mx-auto px-5 my-5' data-controller='scroll-reveal'>
          <h2 class='font-restora font-bold reveal' data-scroll-reveal-target='item' data-delay='250ms'><%= block.content(:header) %></h2>
          <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
          <div class='markdown font-montserrat reveal' data-scroll-reveal-target='item' data-delay='750ms'>
            <%= block.content.html(:body)%>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if content(:featured_artworks)&.live.any? %>
      <div id='#selected_works' class='container w-full py-5 md:py-10 mx-auto px-5 my-5' data-controller='scroll-reveal'>
        <h2 class='font-restora font-bold reveal' data-scroll-reveal-target='item' data-delay='250ms'> <%= t('title.selected_works') %> </h2>
        <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
        <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 reveal' data-scroll-reveal-target='item' data-delay='750ms'>
          <% content(:featured_artworks)&.live.each do |artwork| %>
            <%= fe_featured_item_link(main_app.show_modal_artwork_modals_path(artworks: content(:featured_artworks)&.live.pluck(:id), active: artwork.id), { class: 'flex flex-col mx-auto', data: { turbo: true, turbo_stream: true } }) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <div class='transition-all duration-500 hover:scale-110 mb-5'>
                  <%= artwork.content.image_tag(:image, resize_to_fill: [450, 500]) %>
                </div>
                <%= fe_featured_item_title(artwork.content(:header)) %>
                <%= fe_featured_item_subtitle(artwork.content(:featured_artist)[0]&.content(:header)) %>
                <%= fe_featured_item_text(artwork.content(:price)) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</section>
