<section class='w-full bg-white z-20'>
  <%= fe_carousel do %>
    <%= fe_carousel_wrapper do %>
      <% exhibits.each do |exhibit| %>
        <%= fe_carousel_item do %>
          <%= fe_banner do %>
            <%= fe_banner_img(exhibit.content(:banner).spina_image) %>

            <%= fe_banner_inner do %>
              <%= fe_banner_preheader(exhibit.content(:date)) if exhibit.content(:date) %>
              <%= fe_banner_header(exhibit.content(:header)) if exhibit.content(:header) %>
              <%= fe_banner_subheader(exhibit.content(:subheader)) if exhibit.content(:subheader) %>
              <%= fe_banner_link('Explore Now', exhibit.materialized_path) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>

<section class='w-full bg-white z-20 py-10' data-controller='scroll-reveal'>
  <div class='flex flex-col w-full container py-5 justify-center items-start mx-auto px-5 my-5'>
    <% if content(:featured_exhibits) && content(:featured_exhibits)[0]&.live? %>
      <h2 class='font-restora font-bold reveal' data-scroll-reveal-target='item' data-delay='250ms'> <%= t('title.exhibits') %> </h2>
      <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
      <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full mt-5'>
        <div class='relative flex flex-col reveal' data-scroll-reveal-target='item'>
          <% if content(:featured_exhibits)[0].live? %>
            <%= fe_featured_item_link(content(:featured_exhibits)[0]&.materialized_path) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <%= fe_featured_item_image_wrapper do %>
                  <%= fe_featured_item_image(content(:featured_exhibits)[0].content(:banner).spina_image) %>
                <% end %>
                <%= fe_featured_item_pretitle([content(:featured_exhibits)[0].content(:start_date), content(:featured_exhibits)[0].content(:end_date)].compact.join(' - ')) %>
                <%= fe_featured_item_title(content(:featured_exhibits)[0].content(:header)) %>
                <%= fe_featured_item_subtitle(content(:featured_exhibits)[0].content(:subheader)) %>
                <%= fe_featured_item_text(content(:featured_exhibits)[0].content(:date)) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full reveal' data-scroll-reveal-target='item'>
          <% if content(:featured_exhibits)[1].live&.any? %>
            <% content(:featured_exhibits)[1]&.live.in_groups_of((content(:featured_exhibits)[1]&.live.length / 2.0).ceil) do |group| %>
              <div class='flex flex-col w-full'>
                <% group.compact.each do |exhibit| %>
                  <%= fe_featured_item_link(exhibit.materialized_path, { class: 'mb-5' }) do %>
                    <%= fe_featured_item_content_wrapper() do %>
                      <%= fe_featured_item_image_wrapper do %>
                        <%= fe_featured_item_image(exhibit.content(:poster).spina_image) %>
                      <% end %>
                      <%= fe_featured_item_pretitle([exhibit.content(:start_date), exhibit.content(:end_date)].compact.join(' - ')) %>
                      <%= fe_featured_item_title(exhibit.content(:header)) %>
                      <%= fe_featured_item_subtitle(exhibit.content(:subheader)) %>
                      <%= fe_featured_item_text(exhibit.content(:date)) %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if content(:featured_galleries) && content(:featured_galleries)[0]&.live? %>
      <h2 class='font-restora font-bold reveal mt-10' data-scroll-reveal-target='item' data-delay='250ms'> <%= t('title.galleries') %> </h2>
      <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
      <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full mt-5'>
        <div class='relative flex flex-col reveal' data-scroll-reveal-target='item'>
          <% if content(:featured_galleries)[0]&.live? %>
            <%= fe_featured_item_link(content(:featured_galleries)[0]&.materialized_path) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <%= fe_featured_item_image_wrapper do %>
                  <%= fe_featured_item_image(content(:featured_galleries)[0].content(:banner).spina_image) %>
                <% end %>
                <%= fe_featured_item_title(content(:featured_galleries)[0].content(:header)) %>
                <%= fe_featured_item_subtitle(content(:featured_galleries)[0].content(:subheader)) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full reveal' data-scroll-reveal-target='item'>
          <% if content(:featured_galleries)[1]&.live&.any? %>
            <% content(:featured_galleries)[1]&.live.in_groups_of((content(:featured_galleries)[1]&.live.length / 2.0).ceil) do |group| %>
              <div class='flex flex-col w-full'>
                <% group.compact.each do |gallery| %>
                  <%= fe_featured_item_link(gallery.materialized_path, { class: 'mb-5' }) do %>
                    <%= fe_featured_item_content_wrapper() do %>
                      <%= fe_featured_item_image_wrapper do %>
                        <%= fe_featured_item_image(gallery.content(:banner).spina_image) %>
                      <% end %>
                      <%= fe_featured_item_title(gallery.content(:header)) %>
                      <%= fe_featured_item_subtitle(gallery.content(:subheader)) %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if content(:featured_artworks) && content(:featured_artworks)[0]&.live? %>
      <h2 class='font-restora font-bold reveal mt-10' data-scroll-reveal-target='item' data-delay='250ms'> <%= t('title.artworks') %> </h2>
      <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
      <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full mt-5'>
        <div class='relative flex flex-col reveal' data-scroll-reveal-target='item'>
          <% if content(:featured_artworks)[0]&.live? %>
            <%= fe_featured_item_link(main_app.show_modal_artwork_modals_path(artworks: [content(:featured_artworks)[0]&.id] + content(:featured_artworks)[1]&.live.pluck(:id), active: content(:featured_artworks)[0]&.id), { data: { turbo: true, turbo_stream: true } }) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <%= fe_featured_item_image_wrapper do %>
                  <%= fe_featured_item_image(content(:featured_artworks)[0].content(:image).spina_image) %>
                <% end %>
                <%= fe_featured_item_title(content(:featured_artworks)[0].content(:header)) %>
                <%= fe_featured_item_subtitle(content(:featured_artworks)[0].content(:featured_artist)[0]&.content(:header)) %>
                <%= fe_featured_item_text(content(:featured_artworks)[0].content(:price)) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full reveal' data-scroll-reveal-target='item'>
          <% if content(:featured_artworks)[1]&.live&.any? %>
            <% content(:featured_artworks)[1]&.live.in_groups_of((content(:featured_artworks)[1]&.live.length / 2.0).ceil) do |group| %>
              <div class='flex flex-col w-full'>
                <% group.compact.each do |artwork| %>

                  <%= fe_featured_item_link(main_app.show_modal_artwork_modals_path(artworks: [content(:featured_artworks)[0]&.id] + content(:featured_artworks)[1]&.live.pluck(:id), active: artwork.id), { class: 'mb-5', data: { turbo: true, turbo_stream: true } }) do %>
                    <%= fe_featured_item_content_wrapper() do %>
                      <%= fe_featured_item_image_wrapper do %>
                        <%= fe_featured_item_image(artwork.content(:image).spina_image) %>
                      <% end %>
                      <%= fe_featured_item_title(artwork.content(:header)) %>
                      <%= fe_featured_item_subtitle(artwork.content(:featured_artist)[0]&.content(:header)) %>
                      <%= fe_featured_item_text(artwork.content(:price)) %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if content(:featured_artists) && content(:featured_artists)[0]&.live? %>
      <h2 class='font-restora font-bold reveal mt-10' data-scroll-reveal-target='item' data-delay='250ms'> <%= t('title.artists') %> </h2>
      <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
      <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full mt-5'>
        <div class='relative flex flex-col reveal' data-scroll-reveal-target='item'>
          <% if content(:featured_artists)[0]&.live? %>
            <%= fe_featured_item_link(content(:featured_artists)[0]&.materialized_path) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <%= fe_featured_item_image_wrapper do %>
                  <%= fe_featured_item_image(content(:featured_artists)[0].content(:banner).spina_image) %>
                <% end %>
                <%= fe_featured_item_title(content(:featured_artists)[0].content(:header)) %>
                <%= fe_featured_item_subtitle(content(:featured_artists)[0].content(:subheader)) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full reveal' data-scroll-reveal-target='item'>
          <% if content(:featured_artists)[1]&.live&.any? %>
            <% content(:featured_artists)[1]&.live.in_groups_of((content(:featured_artists)[1]&.live.length / 2.0).ceil) do |group| %>
              <div class='flex flex-col w-full'>
                <% group.compact.each do |artist| %>
                  <%= fe_featured_item_link(artist.materialized_path, { class: 'mb-5' }) do %>
                    <%= fe_featured_item_content_wrapper() do %>
                      <%= fe_featured_item_image_wrapper do %>
                        <%= fe_featured_item_image(artist.content(:portrait).spina_image) %>
                      <% end %>
                      <%= fe_featured_item_title(artist.content(:header)) %>
                      <%= fe_featured_item_subtitle(artist.content(:subheader)) %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
