<section class='w-full bg-white z-20'>
  <%= fe_carousel do %>
    <%= fe_carousel_wrapper do %>
      <% exhibits.each do |exhibit| %>
        <%= fe_carousel_item do %>
          <%= fe_banner do %>
            <%= fe_banner_img(exhibit.content(:banner).spina_image) %>

            <%= fe_banner_inner do %>
              <%= fe_banner_preheader(exhibit.content(:date)) if exhibit.content(:date) %>
              <%= fe_banner_header(exhibit.content(:header)) if exhibit.content(:header) %>
              <%= fe_banner_subheader(exhibit.content(:subheader)) if exhibit.content(:subheader) %>
              <%= fe_banner_link('Explore Now', exhibit.materialized_path) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>

<section class='w-full bg-white z-20 mt-10' data-controller='scroll-reveal'>
  <div class='flex flex-col w-full container py-5 justify-center items-start mx-auto px-5 my-5'>
    <h2 class='font-bold reveal' data-scroll-reveal-target='item' data-delay='250ms'> Exhibits </h2>
    <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>

    <div class='grid grid-cols-1 md:grid-cols-2 gap-5 w-full mt-5'>
      <% @exhibits.live.each do |exhibit| %>
        <div class='relative flex flex-col reveal' data-scroll-reveal-target='item'>
          <span class='sticky top-5 flex flex-col'>
            <%= exhibit.content.image_tag(:banner, {}, class: 'mb-5') %> 
            <h3 class='font-bold text-xl mb-2'> <%= exhibit.content(:header) %> </h3>
            <p class='text-light text-sm'> <%= exhibit.content(:subheader) %> </p>
            <p class='text-light text-sm text-gray-800'> <%= exhibit.content(:date) %> </p>
          </span>
        </div>
        <div class='hidden md:grid grid-cols-2 gap-5 w-full reveal' data-scroll-reveal-target='item'>
          <% exhibit.content(:artpieces).each do |artwork| %>
            <span class='flex flex-col w-full'>
            <%= artwork.content.image_tag(:image, {}, class: 'mb-5') %> 
              <h3 class='font-bold text-xl mb-2'> <%= artwork.content(:header) %> </h3>
              <p class='text-light text-sm'> <%= artwork.content(:subheader) %> </p>
              <p class='text-light text-sm text-gray-800'> <%= artwork.content(:price) %> </p>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
