<%= render partial: 'neoma/shared/scroll_nav', locals: { menu_items: [['#selected_works', t('title.selected_works')]] } %>

<section class='w-full'>
  <!-- Banner -->
  <%= fe_banner do %>
    <%= fe_banner_img_v2(@gallery.banner) %>
    <%= fe_banner_inner do %>
      <%= fe_banner_header(@gallery.title) %>
      <%= fe_banner_subheader(@gallery.location) %>
    <% end %>
  <% end %>

  <!-- Padding -->
  <section class='w-full min-h-screen'>
  </section>

  <!-- Content -->
  <section class='relative w-full bg-white pb-10 z-20'>
    <% @gallery.content_sections.each do |block| %>
      <% if block.images.any? %>
        <%= fe_carousel do %>
          <%= fe_carousel_wrapper do %>
            <% block.images.each do |img| %>
              <%= fe_carousel_item do %>
                <%= fe_banner do %>
                  <%= fe_banner_img_v2(img, opts: { class: 'absolute top-0 left-0 w-full w-[100vw] min-h-[100vh] object-cover reveal', opacity: '0.8' }, check_attached: false) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if block.content.body %>
        <div class='container w-full py-5 md:py-10 mx-auto px-5 my-5' data-controller='scroll-reveal'>
          <h2 class='font-restora font-bold reveal' data-scroll-reveal-target='item' data-delay='250ms'><%= block.header %></h2>
          <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
          <div class='markdown font-montserrat reveal' data-scroll-reveal-target='item' data-delay='750ms'>
            <%= block.content %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @artworks.any? %>
      <div id='#selected_works' class='container w-full py-5 md:py-10 mx-auto px-5 my-5' data-controller='scroll-reveal'>
        <h2 class='font-restora font-bold reveal' data-scroll-reveal-target='item' data-delay='250ms'> <%= t('title.selected_works') %> </h2>
        <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
        <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5'>
          <% @artworks.each do |artwork| %>
            <%= fe_featured_item_link(v2_artwork_path(artwork, reference_id: @gallery.slug, class_name: 'gallery'), opts: { class: 'flex flex-col mx-auto', data: { turbo: true, turbo_stream: true } }) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <%= fe_featured_item_image_wrapper do %>
                  <%= fe_featured_item_image_v2(artwork.image, opts: { class: 'reveal object-cover w-[450px] h-[500px]' }) %>
                <% end %>
                <%= fe_featured_item_title(artwork.title) %>
                <%= fe_featured_item_subtitle(artwork.artist.name) if artwork.artist %>
                <%= fe_featured_item_text(format_price(artwork.price)) if artwork.price %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @suggested_galleries.any? %>
      <div id='#suggested_galleries' class='container w-full py-5 md:py-10 mx-auto px-5 my-5' data-controller='scroll-reveal'>
        <div class='w-full flex items-center justify-between reveal' data-scroll-reveal-target='item' data-delay='250ms'>
          <h2 class='font-restora font-bold flex-1'> <%= t('title.suggested_galleries') %> </h2>
          <%= link_to t('buttons.view_all'), v2_galleries_path, class: 'text-xs font-medium hover:text-[#f7b1af] transition-all duration-500' %>
        </div>
        <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
        <div class='w-full flex flex-row flex-nowrap justify-start overflow-x-auto overflow-y-clip'>
          <% @suggested_galleries.each do |gallery| %>
            <%= fe_featured_item_link(v2_gallery_path(gallery), opts: { class: 'flex flex-col mr-5 min-w-[295px] w-[295px]' }) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <%= fe_featured_item_image_wrapper do %>
                  <%= fe_featured_item_image_v2(gallery.banner, opts: { class: 'reveal object-cover w-[295px] h-[175px]' }) %>
                <% end %>
                <%= fe_featured_item_title(gallery.title) %>
                <%= fe_featured_item_subtitle(gallery.location) if gallery.location %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</section>
