<div data-controller='scroll-reveal'>
  <div class='fixed top-0 left-0 z-[100] bg-white w-screen h-screen
    swiper swiper-initialized swiper-horizontal
    swiper-pointer-events swiper-backface-hidden reveal'
    data-controller='carousel'
    data-scroll-reveal-target='item'
    data-delay='500ms'
    data-carousel-options-value='
            {
            "navigation": {
              "nextEl": ".swiper-button-next",
              "prevEl": ".swiper-button-prev"
            },
            "effect": "fade",
            "fadeEffect": {
              "crossFade": "true"
            }
        }'
    >
    <div class='swiper-wrapper'>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <% @artworks.each do |artwork| %>
        <div class='grid grid-cols-1 md:grid-cols-2 w-full container swiper-slide'>
          <span class='w-full flex justify-center md:justify-start items-center'>
            <%= image_tag(url_for(artwork.content(:image).spina_image.file), class: 'object-contain max-h-[825.6px]') %>
          </span>
          <span class='w-full flex flex-col justify-between items-start md:items-end py-10'>
            <h1 class='uppercase font-bold text-xl md:text-3xl'>
              <%= artwork.content(:featured_artist)[0].content(:header) %>
            </h1>
            <div class='flex flex-col items-start md:items-end'>
              <h2 class='italic text-xl md:text-3xl mb-2'>
                <%= artwork.content(:header) %>
              </h2>

              <p class='text-lg mb-5'>
              <%= artwork.content(:price) %>
              </p>

              <div class='text-sm flex flex-col items-start md:items-end'>
                <%= artwork.content.html(:body) %>
              </div>
            </div>
            <div class='flex flex-row mt-5'>
              <%= fe_banner_link(t('buttons.inquire_now'), '') %>
            </div>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
