<turbo-stream action='replace' target='side-modal'>
  <template>
    <%= turbo_frame_tag 'side-modal', data: { controller: 'scroll-reveal modal lazy' }  do %>
      <%= link_to '', main_app.close_sidemodal_artwork_modals_path, class: 'fixed top-0 left-0 w-screen h-screen bg-black opacity-30 z-[149] modal-backdrop reveal', data: { scroll_reveal_target: 'item', modal_target: 'body', action: 'click->modal#close', turbo: true, turbo_stream: true } %>
      <div class='fixed top-0 left-0 z-[150] bg-neoma-blue-4 text-white w-full p-8 overflow-y-scroll h-full min-h-full lg:w-1/2 lg:min-h-0 side reveal' data-scroll-reveal-target='item' data-modal-target='body' >
        <div class='flex flex-row top-5 w-full'>
          <%= link_to '/', class: 'w-[200px] justify-center items-center' do %>
            <%= image_tag asset_path('text_horizontal_white.svg') %>
          <% end %>
          <%= link_to main_app.close_sidemodal_artwork_modals_path, class: 'ml-auto', data: { action: 'click->modal#close', turbo: true, turbo_stream: true } do %>
            <i class='text-xl text-white cursor-hover fa-solid fa-xmark'></i>
          <% end %>
        </div>
        <%= form_for(@inquiry, url: main_app.inquire_neoma_mailers_path, html: { class: 'mb-20 py-10 md:pt-40', data: { controller: 'scroll-reveal', turbo: true, turbo_stream: true } }) do |f| %>
          <h1 class='font-restora text-xl md:text-3xl mb-10'><%= t('form.inquiries.title') %></h1>

          <%= f.text_field :first_name, required: true, class: 'font-montserrat flex-grow bg-transparent border-none focus:ring-0 text-white m-0 p-0 font-light w-full', placeholder: t('form.inquiries.placeholder.first_name') %>
          <hr class='w-full my-5 pr-0 md:pr-10 opacity-10'>

          <%= f.text_field :last_name, required: true, class: 'font-montserrat flex-grow bg-transparent border-none focus:ring-0 text-white m-0 p-0 font-light w-full', placeholder: t('form.inquiries.placeholder.last_name') %>
          <hr class='w-full my-5 pr-0 md:pr-10 opacity-10'>

          <%= f.email_field :email, required: true, class: 'font-montserrat flex-grow bg-transparent border-none focus:ring-0 text-white m-0 p-0 font-light w-full', placeholder: t('form.inquiries.placeholder.email') %>
          <hr class='w-full my-5 pr-0 md:pr-10 opacity-10'>

          <%= f.telephone_field :phone_number, required: true, class: 'font-montserrat flex-grow bg-transparent border-none focus:ring-0 text-white m-0 p-0 font-light w-full', placeholder: t('form.inquiries.placeholder.phone_number') %>
          <hr class='w-full my-5 pr-0 md:pr-10 opacity-10'>

          <%= f.text_area :message, required: true, class: 'font-montserrat flex-grow bg-transparent border-none focus:ring-0 text-white m-0 p-0 font-light w-full', placeholder: t('form.inquiries.placeholder.message'), rows: 3 %>
          <hr class='w-full mb-5 pr-0 md:pr-10 opacity-10'>

          <% if @artwork && @v2 %>
            <%= f.hidden_field :artwork_id, value: @artwork.id %>
            <div class='flex items-center reveal' data-scroll-reveal-target='item'>
              <%= image_tag @artwork.image.file, class: 'max-w-[150px] max-h-[150px] reveal' %>
              <div style='margin-left: 1.5rem;'>
                <div class='font-restora font-medium'> <%= @artwork.title %></div>
                <div class='font-montserrat text-sm'><%= @artwork.artist&.name %></div>
                <div class='font-montserrat text-gray-500 text-sm'><%= format_price(@artwork.price) %></div>
              </div>
            </div>
            <hr class='w-full mt-5 mb-10 pr-0 md:pr-10 opacity-10'>
          <% elsif @artwork %>
            <%= f.hidden_field :artwork_id, value: @artwork.id %>
            <div class='flex items-center reveal' data-scroll-reveal-target='item'>
              <%= image_tag main_app.url_for(@artwork.content(:image)), class: 'max-w-[150px] max-h-[150px] reveal' %>
              <div style='margin-left: 1.5rem;'>
                <div class='font-restora font-medium'> <%= @artwork.content(:header) %></div>
                <div class='font-montserrat text-sm'><%= @artwork.content(:featured_artist)[0].content(:header) %></div>
                <div class='font-montserrat text-gray-500 text-sm'><%= @artwork.content(:price) %></div>
              </div>
            </div>
            <hr class='w-full mt-5 mb-10 pr-0 md:pr-10 opacity-10'>
          <% end %>

          <%= button_tag(type: 'submit', class: 'font-montserrat text-center text-black transition-color duration-500 bg-neoma-pink-1 hover:bg-[#f7b1af] px-3 py-2 min-w-[120px]') do %>
            <%= t('form.inquiries.submit') %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </template>
</turbo-stream>
