<%= render partial: 'neoma/shared/scroll_nav', locals: { menu_items: [['#selected_works', t('title.selected_works')]] } %>

<section class='w-full'>
  <!-- Banner -->
  <%= fe_banner do %>
    <%= fe_banner_img_v2(@exhibit.banner) %>

    <%= fe_banner_inner do %>
      <%= fe_banner_preheader(format_date_range(@exhibit.start_date, @exhibit.end_date)) %>
      <%= fe_banner_header(@exhibit.title) %>
      <%= fe_banner_subheader(@exhibit.subtitle) if @exhibit.subtitle %>
    <% end %>
  <% end %>

  <!-- Padding -->
  <section class='w-full min-h-screen'>
  </section>

  <!-- Content -->
  <section class='relative w-full bg-white pb-10 z-20'>
    <% if 1 == 0 %>
    <% repeater(:section) do |block| %>
      <% if block.content(:carousel).present? %>
        <%= fe_carousel do %>
          <%= fe_carousel_wrapper do %>
            <% block.content(:carousel).each do |img| %>
              <%= fe_carousel_item do %>
                <%= fe_banner do %>
                  <%= fe_banner_img(img.spina_image, { opacity: '0.8' }) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if block.content(:body) %>
        <div class='container w-full py-5 md:py-10 mx-auto px-5 my-5' data-controller='scroll-reveal'>
          <h2 class='font-restora font-bold reveal' data-scroll-reveal-target='item' data-delay='250ms'><%= block.content(:header) %></h2>
          <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
          <div class='markdown font-montserrat reveal' data-scroll-reveal-target='item' data-delay='750ms'>
            <%= block.content.html(:body)%>
          </div>
        </div>
      <% end %>
    <% end %>
    <% end %>

    <% if @artworks.any? %>
      <div id='#selected_works' class='container w-full py-5 md:py-10 mx-auto px-5 my-5' data-controller='scroll-reveal'>
        <h2 class='font-restora font-bold reveal' data-scroll-reveal-target='item' data-delay='250ms'> <%= t('title.selected_works') %> </h2>
        <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
        <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5'>
          <% @artworks.each do |artwork| %>
            <%= fe_featured_item_link(v2_artwork_path(artwork, artwork_ids: @artwork_ids), opts: { class: 'flex flex-col mx-auto', data: { turbo: true, turbo_stream: true } }) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <%= fe_featured_item_image_wrapper do %>
                  <%= fe_featured_item_image_v2(artwork.image, opts: { class: 'reveal object-cover w-[450px] h-[500px]' }) %>
                <% end %>
                <%= fe_featured_item_title(artwork.title) %>
                <%= fe_featured_item_subtitle(artwork.artist.name) if artwork.artist %>
                <%= fe_featured_item_text(format_price(artwork.price)) if artwork.price %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @suggested_exhibits.any? %>
      <div id='#suggested_exhibits' class='container w-full py-5 md:py-10 mx-auto px-5 my-5' data-controller='scroll-reveal'>
        <div class='w-full flex items-center justify-between reveal' data-scroll-reveal-target='item' data-delay='250ms'>
          <h2 class='font-restora font-bold flex-1'> <%= t('title.suggested_exhibits') %> </h2>
          <%= link_to t('buttons.view_all'), v2_exhibits_path, class: 'text-xs font-medium hover:text-[#f7b1af] transition-all duration-500' %>
        </div>
        <hr class='w-full my-5 reveal' data-scroll-reveal-target='item' data-delay='500ms'>
        <div class='w-full flex flex-row flex-nowrap justify-start overflow-x-auto overflow-y-clip'>
          <% @suggested_exhibits.each do |exhibit| %>
            <%= fe_featured_item_link(v2_exhibit_path(exhibit), opts: { class: 'flex flex-col mr-5 min-w-[295px] w-[295px]' }) do %>
              <%= fe_featured_item_content_wrapper() do %>
                <%= fe_featured_item_image_wrapper do %>
                  <%= fe_featured_item_image_v2(exhibit.banner, opts: { class: 'reveal object-cover w-[295px] h-[175px]' }) %>
                <% end %>
                <%= fe_featured_item_title(exhibit.title) %>
                <%= fe_featured_item_subtitle(exhibit.subtitle) if exhibit.subtitle %>
                <%= fe_featured_item_text(format_date_range(exhibit.start_date, exhibit.end_date)) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</section>
