<!-- Footer starts here -->
<section class='fixed top-0 left-0 w-full h-screen bg-neoma-blue-4 flex justify-center'>
  <div class='flex flex-col w-full container pt-16 lg:pt-40 px-5 md:px-24 justify-between'>
    <div class='flex flex-col lg:flex-row md:justify-between w-full'>
      <div class='flex flex-1 flex-col mb-5'>
        <h1 class='font-medium text-3xl text-white mb-5'> <%= t('footer.neoma_galleria') %> </h1>

        <p class='font-light text-sm text-white mb-2'> <%= t('footer.phone_number') %> </p>
        <p class='font-light text-sm text-white mb-2'> <%= t('footer.email') %> </p>
      </div>

      <div class='flex flex-1 flex-col mb-5'>
        <h1 class='font-medium text-3xl text-white mb-5'> <%= t('footer.title.galleries') %> </h1>

        <% galleries.limit(3).each do |gallery| %>
          <%= link_to "#{gallery.content(:header)}, #{gallery.content(:subheader)}",
            gallery.materialized_path, class: 'font-light text-sm text-white mb-2' %>
        <% end %>
      </div>

      <div class='flex flex-1 flex-col mb-5'>
        <h1 class='font-medium text-3xl text-white mb-5'> <%= t('footer.stay_in_touch') %> </h1>

        <span class='flex flex-row w-full justify-start items-end mb-3'>
          <%= link_to 'https://www.facebook.com/neomagalleria', class: 'mr-5', target: '_blank' do %>
            <i class='fa-brands fa-facebook-f text-white text-lg'></i>
          <% end %>
          <%= link_to 'http://www.intagram.com/neomagalleria', class: 'mr-5', target: '_blank' do %>
            <i class='fa-brands fa-instagram text-white text-xl'></i>
          <% end %>
        </span>
        <%= form_tag('/', class: 'flex flex-row w-full border-b border-white pb-1 mb-3') do %>
          <%= email_field_tag :email, '', class: 'flex-grow bg-transparent border-none focus:ring-0 text-white m-0 p-0 text-sm font-light', placeholder: t('form.mailing_list.placeholder') %>
          <%= button_tag(type: 'submit') do %>
            <i class='fa-solid fa-chevron-right font-light text-white text-sm'></i>
          <% end %>
        <% end %>
        <p class='text-[9px] font-light text-gray-300'> <%= t('form.mailing_list.privacy_policy') %> </p>
      </div>
    </div>
    <p class='w-full text-light text-gray-500 text-center text-sm py-5'> <%= t('footer.copyright') %> </p>
  </div>
</section>
